<footer class="footer">
    <img src="/assets/images/Logo.png" alt="" srcset="">
    <section class="footer__card">
        <h2 class="base__h1_pink base__tuc">location</h2>
        <address class="base__p footer__address">PO Box 1622 Collins Street West Victoria 8007</address>
        <address class="base__P">Australia</address>
    </section>
    <section class="footer__card">
        <h2 class="base__h1_pink base__tuc">Opening Hours</h2>
        <p class="base__p">MON - FRI 9 AM TO 10 PM</p>
    </section>
    <section class="footer__card">
        <h2 class="base__h1_pink base__tuc">location</h2>
        <p class="base__p">MON - FRI 2 PM TO 06 PM</p>
    </section>

    <section class="footer__card">
        <h2 class="base__h1_pink base__tuc">recent posts</h2>
        <%- include('../partials/card') %><img src="/assets/images/recent_post1.jpg" alt="" srcset=""><%- include('../partials/cardend') %>
        <%- include('../partials/card') %><img src="/assets/images/recent_post2.jpg" alt="" srcset=""><%- include('../partials/cardend') %>
    </section>

    <section class="footer__card">
        <h2 class="base__h1_pink base__tuc">recent posts</h2>
        <%- include('../partials/card') %><i class="fab fa-twitter card__tweet"></i>" alt="" srcset=""><%- include('../partials/cardend') %>
        <%- include('../partials/card') %><i class="fab fa-twitter card__tweet"></i>" alt="" srcset=""><%- include('../partials/cardend') %>
    </section>

    <p class="base__p footer__style">Stay connectet with us Night Club</p>
    <section class="footer__some">
        <a href="#" class="footer__somebox"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="footer__somebox"><i class="fab fa-twitter"></i></a>
        <a href="#" class="footer__somebox"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="footer__somebox"><i class="fab fa-skype"></i></a>
        <a href="#" class="footer__somebox"><i class="fab fa-blogger-b"></i></a>
    </section>
    <p class="base__p">Copyright @2018 NightClub psd template all right</p>
</footer>
<script src="/assets/javascript/footer.js"></script>